<div class="text-light bg-main-color main d-flex align-items-center flex-column justify-content-center">
    <h2 class="text-center fw-bold fs-1">ABOUT COMPONENT</h2>
        <div class="mb-3 w-100 text-center mb-0 pb-0">
            <span id="star"><i class="fa-solid fa-star"></i></span>
        </div>
    <div class="d-flex justify-content-between align-items-center pb-5 mb-3 w-75 flex-wrap">
    <p class="w-48 w-r-100">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML,
    CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
    <p class="w-48 w-r-100">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML,
    CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
    </div>

</div>