<div class="main d-flex align-items-center flex-column justify-content-center">
    <div>
        <h2 class="fs-1 fw-bold text-center text-trd-color">CONTACT SECTION</h2>
        <div class="mb-3 w-100 text-center mb-0 pb-0">
            <span id="star"><i class="fa-solid fa-star text-trd-color"></i></span>
        </div>
    </div>
    <div class="w-75 mx">
        <form>
            <div class="my-5 w-60 mx-auto input-container w-r-90">
                <input type="text" class="form-control w-100 border-0 border-bottom rounded-3" #userNameInput>
                <label class="ms-3">User Name</label>
            </div>
            <div class="my-5 w-60 mx-auto input-container w-r-90">
                <input type="text" class="form-control w-100 border-0 border-bottom rounded-3" >
                <label class="ms-3">User Age</label>
            </div>
            <div class="my-5 w-60 mx-auto input-container w-r-90">
                <input type="text" class="form-control w-100 border-0 border-bottom rounded-3" >
                <label class="ms-3">User Email</label>
            </div>
            <div class="mt-5 w-60 mx-auto input-container w-r-90">
                <input type="text" class="form-control w-100 border-0 border-bottom rounded-3" >
                <label class="ms-3">User Password</label>
            </div>
            <div class="w-60 mx-auto w-r-90">
                <button type="button" class="btn bg-main-color text-light">Submit</button>
            </div>
        </form>
    </div>
</div>
